h1{
  border-top-style: dotted;
  border-bottom-style: dotted;
  border-left-style: double;
  border-left-width: 10px;
  border-left-color: springgreen;
}
p{
  border-style: outset;
  border-width: 9px;
  border-color: blueviolet;
  border-radius: 10px;
  padding: 5px;
}